*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.main-page{
}
.section{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 2;
}
/* main-section */
.main-sec{
text-align: center;
padding: 2.5%;

}
.main-sec h1{
  text-transform:uppercase;
  line-height: 2;
}
.main-sec h2{
  text-transform: capitalize;
  line-height: 2;
}
/* main-section */
/* img-section */
.img-sec{
align-items: center;
text-align: center;
padding: 2.5%;

}

.img-cap{
line-height:1.8;
font-size: 16px;
}
/* list-section */
.list-sec{
}

.info-list{
  width:50%;
  height: auto;
  margin-left:25%;
  margin-right: 25%;
  line-height: 1.5;
  text-align: center;

}
.info-list ul{
  list-style-type: none;
  padding: 5%;
  text-align: justify;
}
.info-list h2{
  text-transform:capitalize;
}
.

/* img-section */

.tri-sec {
  width:50%;
  height: auto;
  margin-bottom: 25px;

}

.tri-quot{
  margin-left:25%;
  margin-right: 25%;
  align-self: center;
}

.audio-sound{
text-align:center;
}

.last-parag{
  width:50%;
  height: auto;
  margin-top:25px;
  margin-left:25%;
  margin-right: 25%;
  margin-bottom: 25px;
  text-align:center;
  text-transform: capitalize;
  font-size: 20px;
}
